@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-exo: "Exo", sans-serif;
  --font-oxanium: "Oxanium", sans-serif;
  --color-rabit-red: #ea2e0e;
}

@layer base {
  html {
    @apply font-exo;
    font-optical-sizing: auto;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
}
